/* addressManagementUl start */
.addressManagementUl{
	width: 100%;
	margin-top: 16px;
	background: #fff;
	margin-bottom: 90px;
}
.addressManagementUl>ul{
	width: 100%;
	padding: 0 30px;
}
.addressManagementUl>ul>li{
	width: 100%;
	display: flex;
}
.addressManagementUl_input>img{
	width: 32px;
	height: 32px;
	margin-left: 6px;
	margin-top: 76px;
	margin-bottom: 72px;
	margin-right: 36px;
}
.addressManagementUl_user{
	color: #313131;
	font-size: 30px;
	display: flex;
	font-weight: 700;
	margin-top: 30px;
}
.addressManagementUl_text{
	width: 100%;
}
.addressManagementUl_text_name{
	margin-right: 30px;
}
.addressManagementUl_address{
	color: #838383;
	font-size: 22px;
}
.addressManagementUl_btu{
	display: flex;
	width: 100%;
	justify-content: flex-end;
}
.addressManagementUl_btu>p{
	color: #676767;
	font-size: 28px;
}
.addressManagementUl_btu>p:first-of-type{
	margin-right: 22px;
}
.addressManagementUl_btu>p>img{
	height: 28px;
	vertical-align: sub;
}
/* addressManagementUl end */

/* addressManagementFoot start */
.addressManagementFoot{
	width: 100%;
	height: 104px;
	background: #28b7a3;
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
	line-height: 104px;
}
.addressManagementFoot>img{
	width: 44px;
	height: 44px;
	vertical-align: sub;
}
.addressManagementFoot>span{
	color: #fff;
	font-size: 32px;
}

/* addressManagementFoot end */