/*
    position top start
*/

.doctorInfo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.infoContent {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*
    position top end
*/


/*
    video start
*/

.doctorVideoImg {
    width: 100%;
}

.doctorVideoImg > img {
    width: 100%;
    height: 100%;
}

/*
    video end
*/


/*
    years time start
*/
.experienceTime {
    display: flex;
    padding: 0 20px 0 30px;
    line-height: 112px;
}

.experienceTimeSpan {
    font-size: 18px;
    color: #acacac;
}

.experienceTimeSpanMonthNum {
    margin: 0 40px 0 40px;
}

.experienceTimeIDom {
    font-size: 40px;
    color: black;
    font-weight: bolder;
}

.experienceTimeYellow {
    color: #ffb300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experienceTimeYellow > img {
    float: right;
    width: 134px;
    height: 22px;
}

.experienceTimeStarLevel {
    font-size: 40px;
    font-weight: bolder;
}

/*
    years time end
*/

/*
    business start
*/

.business {
    display: flex;
    padding: 10px 20px 20px 30px;
}

.businessUls {
    flex: 2;
    float: left;
    display: flex;
}

.businessBtn {
    width: 38px;
    float: right;
    background: url("../images/askdoctor/doctorInfo/ic_clickarrow_n.png") no-repeat right center;
    background-size: 18px 10px;
}

.businessUls > li {
    padding-right: 30px;
}

.businessUls > li > i {
    margin-left: 5px;
    font-size: 20px;
    color: #666666;
}

.businessUls > li::before {
    display: inline-block;
    content: "";
    width: 30px;
    height: 30px;
    background: url("../images/askdoctor/doctorInfo/ic_tag.png") no-repeat left center;
    background-size: cover;
    vertical-align: middle;
}

/*
    business end
*/


/*
    askWay start
*/

.askWay {
    background: #f4f4f4;
    padding-top: 20px;
    padding-bottom: 20px;
}

.askWayContent {
    background: white;
    display: flex;
    justify-content: space-between;
    line-height: 124px;
    padding-left: 30px;
    padding-right: 30px;
}

.askWayContent > h3 {
    font-size: 30px;
    color: #333333;
}

.askWayPrice > span {
    font-size: 26px;
    color: #666666;
}

.askWayPrice > span > i {
    font-size: 22px;
    color: #28b7a3;
    letter-spacing: 0;
    font-weight: bolder;
}

.askWayPrice > span:last-child {
    padding-left: 25px;
}

/*
    askWay end
*/

/*
    patient query start
*/

.patient {
    background: #f4f4f4;
    padding-top: 20px;
}

.hotConsult {
    background: white;
}

/*
    patient query end
*/


/*
    footer start
*/



.doctorInfoFooterCon {
    width: 100%;
    height: 100px;
    background: #219c8b;
    color: white;
    font-size: 28px;
    position: sticky;
    bottom: 0;
    text-align: center;
    line-height: 100px;
}

/*
    footer end
*/

/*
    popup start
*/
.doctorInfoFooterPopup {
    background: #f8f8f8;
    padding: 0 30px 60px 30px;
}

.selectPopup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectPopup > h3 {
    line-height: 103px;
    font-size: 30px;
    color: #333333;
}

.popupCancel {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url("../../assets/images/askdoctor/doctorInfo/ic_close_details.png");
    background-size: cover;
}