.loginHeader {
  height: 160px;
  display: flex;
  align-items: center;
}

.goBack {
  width: 32px;
  height: 32px;
  margin-left: 40px;
}

.loginContent {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 46px;
  flex-direction: column;
  padding: 0 40px;
}

.inputWrapper {
  margin-top: 22px;
}

.title {
  text-align: center;
}

.input {
  height: 108px;
  display: flex;
}

.phoneArea {
  width: 220px;
  height: 100%;
  display: flex;
  align-items: center;

}

.phonePicWra {
  width: 28px;
  height: 32px;
  display: flex;
  margin-bottom: -14px;
  margin-left: 52px;
}

.underLine {
  border-bottom: 1px solid #cccccc;
}

.AreaInputWrapper {
  flex: 1;
  height: 100%;
  display: flex;
}

.AreaInput {
  width: 100%;
  height: 40%;
  align-self: flex-end;
  margin-bottom: 24px;
  margin-left: 33px;
  border: none;
  float: right;
  font-size: 24px;
  line-height: 24px;
  color: black;
  font-weight: 600;
  border-right: 1px solid #cccccc;
}

.phoneNumber {
  display: flex;
  flex: 1;
  border-right: none;
  margin-left: 4px;
}

.phoneInput {
  border-right: none;
}

.codeWrapper {
  align-items: center;
}

.loginInput {
  margin-bottom: -6px;
}
